<div class="date-container d-flex flex-row justify-content-around align-items-center h-md-25 mt-4">
  <img src="/assets/08.jpg" alt="Image 08" class="img-fluid" style="max-width: 30%; height: auto; " />
  <img src="/assets/03.jpg" alt="Image 03" class="img-fluid" style="max-width: 30%; height: auto; " />
  <img src="/assets/25.jpg" alt="Image 25" class="img-fluid" style="max-width: 30%; height: auto; " />
</div>