
<div class="content-container d-flex flex-column justify-content-center align-items-center gathering-content-background ">
  <div class="background-image-opacity"></div>
    <h1 class="z-10 playwrite-au-sa">Gathering</h1>
    <h5 class="mt-4 w-75 text-center z-10 ">
      This is a small, intimate occasion to celebrate our love with family and friends.
      Join us for the legal ceremony, the gathering, or both!
     </h5>
     <h2 class="mt-4 z-10 playwrite-au-sa">Ceremony</h2>
     <h5 class="mt-4 w-75 text-center z-10 ">
      Blue Point Reserve / March 8th, 2025 / 4:45 P.M. (commence at 5:00 P.M. Sharp)
      </h5>
      <h3 class="mt-4 z-10 playwrite-au-sa"> & </h3>
      <h2 class="mt-4 z-10 playwrite-au-sa">A Gathering of Love & Joy</h2>
      <h5 class="mt-4 w-75 text-center z-10 ">
        Jahan Restaurant / March 8th, 2025 / 7:30 P.M.
       </h5>
</div>

