
<div class="content-container d-flex flex-column justify-content-center align-items-center gathering-content-background " id="gathering-page">
  <div class="background-image-opacity"></div>
    <h1 class="welcome-text playwrite-au-sa">Gathering</h1>
    <h5 class="mt-4 w-75 text-center welcome-text playwrite-au-sa">
      This is a small, intimate occasion to celebrate our love with family and friends.
      Join us for the legal ceremony, the gathering, or both!
     </h5>
</div>

