<div class="land-scape-container">
    <img src="/assets/mainback.webp" alt="harbour-background" class="harbour-background"/>
    <h1 class="landsacpe-text playwrite-au-sa"> Welcome to our wedding </h1>
</div>