<nav class="navbar bg-body-tertiary  sticky-top">
    <div class="container-fluid">
      <div class="navbar-brand" href="#">
          <!-- <img src="/icons/darling-harbour.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-top"> -->
          <span class="d-inline-block align-text-top playwrite-au-sa"> Farbod and Saina</span>
          <!-- <img src="/icons/opera-house.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-top"> -->
      </div>
    </div>
  </nav>