

<nav class="navbar navbar-expand-lg bg-body-tertiary sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <!-- <img src="/icons/darling-harbour.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-top"> -->
      <span class="d-inline-block align-text-top playwrite-au-sa"> Saina & Farbod</span>
       <!-- <img src="/icons/opera-house.svg" alt="Logo" width="60" height="60" class="d-inline-block align-text-top"> -->
    </a>
    <button class="navbar-toggler d-flex justify-content-center align-items-center" type="button">
      <img src="/icons/hamburger.svg" alt="">
    </button>
    <div class="collapse navbar-collapse" id="collapse-navbar">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link playwrite-au-sa" href="#gathering-section">Gathering</a>
        </li>
        <li class="nav-item">
          <a class="nav-link playwrite-au-sa" href="#location-section">Direction</a>
        </li>
        <li class="nav-item">
          <a class="nav-link playwrite-au-sa" href="#rsvp-section">RSVP</a>
        </li>
      </ul>
    </div>
  </div>
</nav>






