<div
  class="max-height-section content-container d-flex flex-column justify-content-between align-items-center gathering-content-background over-flow-y-md overflow-x-hidden"
>
  <div class="background-image-opacity h-md-150"></div>
  <h1 class="z-10 playwrite-au-sa mt-4">RSVP</h1>
  <form
    class="w-100 h-75 d-flex flex-column flex-lg-row justify-content-around align-items-center z-10 "
    action="/submitting-rsvp" method="post"
  >
    <div
      class="w-25 w-md-100 h-100 d-flex flex-column justify-content-around align-items-start align-items-center-md text-start ms-4"
    >
      <div class="mb-1">
        <label for="first-last-name" class="form-label"
          >First Name & Last Name</label
        >
        <input type="text" class="form-control" id="first-last-name" />
      </div>
      <div class="mb-1">
        <label for="companion-name" class="form-label">Companion</label>
        <input type="text" class="form-control" id="companion-name" />
      </div>
      <div class="mb-1 w-75 d-flex-md d-block flex-column justify-content-center align-items-center">
        <label for="song-name" class="form-label text-center-md w-md-100"
          >You'll find me on the dance floor when they play
          </label
        >
        <input type="text" class="form-control " id="song-name" />
      </div>
      
    <div class="mb-1">
        <label for="allergies" class="form-label"
          >Dietary Restrictions:
          </label
        >
        <input type="text" class="form-control" id="allergies" />
      </div>
    </div>
    <div
      class="w-25 w-md-100 h-100 d-flex flex-column justify-content-around align-items-start align-items-center-md text-start ms-4"
    >
    <div class="mb-1">
        <label for="phone-number" class="form-label"
          >Phone number:
          </label
        >
        <input type="text" class="form-control" id="phone-number" />
      </div>
    <div class="mb-1">
        <label for="Email" class="form-label"
          >Email:
          </label
        >
        <input type="email" class="form-control" id="Email" />
      </div>
      <div class="mb-1">
        <label for="Events" class="form-label">Attending to:</label> <br/>
        <input type="checkbox" class="form-check-input" id="ceremony" /> 
        <label class="form-check-label" for="ceremony">Blue Point Reserve</label> <br/>
        <input type="checkbox" class="form-check-input" id="gathering" />
        <label class="form-check-label" for="gathering">Jahan Restaurant</label>
      </div>
      <div class="mb-1 w-50">
          <button type="submit" class="btn btn-primary w-100 z-10 mt-3">Submit</button>
      </div>
    </div>
</form>
</div>
