<div
  class="content-container d-flex flex-column justify-content-start align-items-center"
>
  <h3 class="mb-4 mt-4 z-10 playwrite-au-sa">You are warmly invited</h3>
  <h1 class="text-center playwrite-au-sa h1-base">
    Saina & Farbod
  </h1>
  <h3 class="mt-4 w-75 text-center playwrite-au-sa lh-base">
    are getting married.
  </h3>
</div>
