
<div class="content-container d-flex flex-column justify-content-center align-items-center" id="welcome-page">
  
    <h1 class="welcome-text playwrite-au-sa">Welcome to our wedding</h1>
     <h3 class="mt-4 w-75 text-center playwrite-au-sa">
        You Are Warmly Invited to the simple wedding celebration of
        Saina & Farbod
    
</h3>
    
    </div>

