.gathering-content-background {
    background-image: url("../assets//pre-wed-3.jpeg");
    background-position: 50% 100%;
    background-repeat: no-repeat;
    background-color: rgba(255, 255, 255, 0.7);
    background-size: cover;
}

